<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile" style="background: url({{ url_for('static', filename='assets/images/background/user-info.jpg') }}) no-repeat;">
            <!-- User profile image -->
            <div class="profile-img"> <img src="{{ url_for('static', filename='assets/images/users/1.jpg') }}" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text"> 
                <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    {{ current_user.nickname }} ({{ current_user.role.nickname }})
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu animated flipInY">
                    <a href="#" class="dropdown-item"><i class="ti-settings"></i> 账号设置</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ url_for('auth.logout') }}" class="dropdown-item"><i class="fa fa-power-off"></i> 退出</a>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            {% if current_user.role.name == 'Administrator' %}
            <ul id="sidebarnav">
                <li class="nav-small-cap">基础功能</li>
                <li>
                    <a href="{{ url_for('site.index') }}" aria-expanded="false">
                        <i class="mdi mdi-account"></i>
                        <span class="hide-menu">控制台</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('netease.index') }}" aria-expanded="false">
                        <i class="mdi mdi-account"></i>
                        <span class="hide-menu">网易云</span>
                    </a>
                </li>
                <li class="nav-small-cap">系统设置</li>
                <li>
                    <a href="{{ url_for('users.index') }}" aria-expanded="false">
                        <i class="mdi mdi-account"></i>
                        <span class="hide-menu">用户管理</span>
                    </a>
                </li>
            </ul>
            {% endif %}

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="设置"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="邮件"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="{{ url_for('auth.logout') }}" class="link" data-toggle="tooltip" title="退出">
            <i class="mdi mdi-power"></i>
        </a>
    </div>
    <!-- End Bottom points-->
</aside>